/* CSS declarations go here */
body {
  /*background-image: url('http://i.imgur.com/hIcFKqa.png');*/
  background-image: url('http://i.imgur.com/EqBE9I8.png');
  background-size: contain;
  font-family: 'Cinzel', serif;
}
nav {
  width: 100vw;
}
main {
  height: 100%;
}
footer{
  background: rgb(16, 16, 16);
  color: #9d9d9d;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}
@media (min-width: 992px), handheld and (orientation: portrait){
  footer {
    bottom: 0;
    position: fixed;
  }
}
.row {
  margin: 5vh 2vw;
}
/*HomeLayout.html*/
#about, #register {
  margin-bottom: 5vh;
  border: 5px solid black;
  font-family: 'Cinzel', serif;
  background: rgba(0, 0, 0, 0.5);
  color: rgb(200, 200, 200);;
}
#login-buttons {
  line-height: 50px;
}
.box {
  border: 2px solid black;
  height: 30px;
}
.title {
  margin-bottom: 0;
}
.title-row, .item-row {
  margin: 0 auto;
}
.title, .item-row, .title-row {
  background: white;
  width: 100%;
  text-align: center;

}
.checked {
  background: red;
}
/*SelectLayout*/
img {
  margin: 5px 0;
  max-height: 100%;
  width: auto;
}
.charCont {
  background: rgba(0, 0, 0, 0.5);;
  border: 5px solid black;
  width: 300px;
  height: 215px;
  margin: 2vh 2vw;
  z-index: 2000;
  padding: 0;
}
.charCardInfo {
  position: relative;
  margin: auto 0;
  color: white;
  background: black;
  position: absolute;
  width: 100%;
  bottom: 0;
}
.avail {
  background: green;
}
.unavail {
  background: yellow;
}
.delete {
  background: rgba(255, 0, 0, 0.5);
}
.hidden {
  visibility: hidden;
}
.table {
  margin-bottom: 5vh;
}
#gitLink, .portfolioLink {
  color: #9d9d9d;
}
#textConsole{
  border: 3px solid black;
  height: 40vh;
  width: auto;
  background-color: white;
  overflow: scroll;
}
#clearLog{
  display: block;
  margin: 0 auto;
}
