/* CSS declarations go here */
body {
  /*background-image: url('http://i.imgur.com/hIcFKqa.png');*/
  background-image: url('http://i.imgur.com/EqBE9I8.png');
  background-size: contain;
}
nav {
  width: 100vw;
}
footer{
  background: rgb(231, 231, 231);
  height: 5vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  z-index: 1000;
  border-top: 3px solid black;
  padding: 10px;
}
.row {
  margin: 5vh 2vw;
}
/*HomeLayout.html*/
#about{
  background: rgba(255, 0, 0, 0.5);;
}
#register {
  background: rgba(0, 255, 0, 0.5);;
}
#about, #register {
  margin-bottom: 5vh;
  border: 5px solid black;
}
#login-buttons {
  line-height: 50px;
}
.box {
  border: 2px solid black;
  height: 30px;
}
.title {
  margin-bottom: 0;
}
.title-row, .item-row {
  margin: 0 auto;
}
.title, .item-row, .title-row {
  background: white;
  width: 100%;
  text-align: center;
}
.checked {
  background: red;
}
/*SelectLayout*/
img {
  margin: 5px 0;
  max-height: 100%;
  width: auto;
}
.charCont {
  background: white;
  border: 5px solid black;
  margin: 0 2vw;
}
.avail {
  background: green;
}
.unavail {
  background: yellow;
}
.delete {
  background: rgba(255, 0, 0, 0.5);
}
.hidden {
  visibility: hidden;
}
.table {
  margin-bottom: 5vh;
}
#gitLink, .portfolioLink {
  color: black;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
