<template name="HomeLayout">
    <head>
      <link href="https://fonts.googleapis.com/css?family=Cinzel:700" rel="stylesheet">
    </head>
    <main>
      <div class="row">
      <div id="register" class="col-xs-12 col-md-4">
        <h2>Getting Started!</h2>
        <p>
          Start Up Instructions: <br>
          1. Create a profile using the login at the top of the screen. In the email box, input an easy to remember term beginning with an "@" sign. <br>
          2. Distribute the email and password to each player. Everyone in your party will login with the same credentials. <br>
          3. It is up to the GameMaster to add player characters to the session and needs to be done before PCs can access their views. <br>
          4. Once logged in, partymemebers will see navigation buttons appear in the top bar. Kindly navigate to your appropriate role.  <br>
          <strong>5. Adventure! <br>
            6. Profit!</strong>
            <hr>
            <span>Thank you for using rpgLoot, <br><strong>The DM (Digital Maker)</strong></span> <br>
            Tips: (Currently nothing prevents players from accessing the DM screen, so it's on your honor for now.)
          </p>
        </div>
        <div id="about" class="col-xs-12 col-md-7 col-md-offset-1">
          <h3>About rpgLoot</h3>
          <p>
            <strong>Have you been in this scenario?</strong> <br>

            Your party just spent the last six hours crawling through dank sewers, fighting the hoards,
            and slaying the Big Bad Evil Guy! Congratualtions! <br>

            Now for you reward ... Paperwork! Get ready to spend the next 15 minutes scribbling down
            every weapon and trinket as the DM rattles off a list of rewards.<br>

            -<br>
            If you've ever been in this situation, <strong>rpgLoot</strong> is for you. With a little prep work,
            players can literally watch as their spoils cascade from the Aether right into their browser. <br>

            Designed for cross-platform fluency, players can access <strong>rpgLoot</strong> from any device. <strong>rpgLoot</strong> is also unbiased, so feel free to use it with the RPG of your choice.
          </p>
          <h3>About Table-Top Role Playing Games</h3>
          <p>
            Key Examples include:
            <div class="row">
              <a class="col-xs-12 col-md-6" href="http://dnd.wizards.com/">Dungeons and Dragons</a>
              <a class="col-xs-12 col-md-6" href="http://paizo.com/pathfinderRPG/prd/">Pathfinder</a>
              <a class="col-xs-12 col-md-6" href="http://www.evilhat.com/home/fate-core/">FATE</a>
              <a class="col-xs-12 col-md-6" href="https://www.peginc.com/product-category/peg/savage-worlds/">Savage Worlds</a>
            </div>
          </p>
        </div>
      </div>
    </main>
    {{>Template.dynamic template=footer}}
</template>
