<template name="HomeLayout">
  <body>
    <div class="row">
      <div class="col-xs-7 box">
        <h3>About rpgLoot</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <h3>About Table-Top Role Playing Games</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
      <div class="col-xs-1">

      </div>
      <div class="col-xs-4 box">
        <h2>Sign Up!</h2>
        <p>
          DM/GM: Please register for an account and sign in!
          You will be directed to your very own rpgLoot Group Stash!
          The Group Stash will provide a place for you to imput rewards for your party
          before the session, and then make them available to the PCs when they have properly earned thier spoils.
        </p>
        <div class="row">
          <div class="col-md-5 col-xs-12">
            <span class="container">{{> loginButtons}}</span> <br>
            <a href="/DMview"><button type="button" name="button">Go To DM View</button></a>
          </div>
          <div class="col-md-7 col-xs-12">
            <span>Thank you for using rpgLoot, <br><strong>The DM (Digital Maker)</strong></span>
          </div>
        </div>
      </div>
    </div>
  </body>
</template>
