<template name="SelectLayout">
  <header class="container">
    <h1>Choose Your Character!</h1>
  </header>
  <main>
    <div class="row">
      {{#each players}}
      <a  href="/players/{{characterName}}">
        <div id="{{characterName}}" class="charCont col-xs-5 col-md-3">
          <!-- <img class="col-xs-5" src="{{imageUrl}}" alt=""/> -->
          <style media="screen">
            #{{characterName}} {background-image: url('{{this.imageUrl}}');
                                background-size: cover;}
          </style>
          
          <h2 class="charCardInfo">{{characterName}} ({{playerName}})</h2><br>
        </div></a>
      {{/each}}
    </div>
  </main>
</template>
